@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #000000;
    color: #ffffff;
  }

  body {
    background-color: #000000;
    color: #ffffff;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: #d4af37;
    color: #000000;
  }
}
